<html lang="zh">
<head>
    <%- include('./includes/head', { siteTitle: `关于 - ${themeConfig.siteName}` }) %>
</head>
<body>
<div class="main gt-bg-theme-color-first">
    <%- include('./includes/header') %>
    <div class="post-container">
      <style type="text/css">
        .ba-slider{overflow:hidden;background-color:#fbfafa;width:960px;height:460px;position:absolute;top:288px;border-radius:10px;left:50%;transform:translate(-50%, 0);box-shadow:0 2px 10px #cec9c9;}.ba-slider img{width:100%;display:block;max-width:none}.ba-slider .resize{position:absolute;top:0;left:0;height:100%;width:50%;overflow:hidden}.ba-slider .handle{position:absolute;left:50%;top:0;bottom:0;width:4px;margin-left:-2px;background:rgba(0,0,0,.5);cursor:ew-resize}.ba-slider .handle:after{position:absolute;top:50%;width:64px;height:64px;margin:-32px 0 0 -32px;content:'\21d4';color:#fff;font-weight:700;font-size:36px;text-align:center;background:#ffb800;border:1px solid #e6a600;border-radius:50%;transition:all .3s ease;box-shadow:0 2px 6px rgba(0,0,0,.3),inset 0 2px 0 rgba(255,255,255,.5),inset 0 60px 50px -30px #ffd466}.ba-slider .handle.ba-draggable:after{width:48px;height:48px;margin:-24px 0 0 -24px;font-size:30px}
        .feature-top {
          top: -18px;
          position: relative;
          height: 460px;
          width: 100%;
          padding:60px 0 0;
          text-align:center;
          background:linear-gradient(45deg, #2196f3, #9c27b0);
        }
        .feature-top h2 {
          color: #fff;
          line-height: 1.8;
          font-size: 30px;
        }
        .feature-top .download {
          padding: 11px 25px;
          border: 0;
          font-size: 16px;
          color: #fff;
          border-radius: 4px;
          margin-top: 20px;
          background-color: #e42063;
        }
        .feature-center{
          margin-top:270px;
          text-align: center;
        }
        .featurette-divider{
          margin: 70px 0;
        }
      </style>
      <div class="feature-top">
        <h2>让网页赏心悦目、让阅读回归初心<br/> Circle 阅读模式提供更隐私、更轻松、更舒适的阅读体验</h2>
        <button class="download">下载 Circle 阅读模式</button>
        <div class="ba-slider">
          <img src="https://justread.link/orig2.png">
          <div class="resize"><img src="https://justread.link/jrified2.png"></div>
          <span class="handle"></span>
        </div>
        <script type="text/javascript">
          !function(a){function b(b,c,d){b.on("mousedown.ba-events touchstart.ba-events",function(e){b.addClass("ba-draggable"),c.addClass("ba-resizable");var f=e.pageX?e.pageX:e.originalEvent.touches[0].pageX,g=b.outerWidth(),h=b.offset().left+g-f,i=d.offset().left,j=d.outerWidth();minLeft=i+10,maxLeft=i+j-g-10,b.parents().on("mousemove.ba-events touchmove.ba-events",function(b){var c=b.pageX?b.pageX:b.originalEvent.touches[0].pageX;leftValue=c+h-g,leftValue<minLeft?leftValue=minLeft:leftValue>maxLeft&&(leftValue=maxLeft),widthValue=100*(leftValue+g/2-i)/j+"%",a(".ba-draggable").css("left",widthValue),a(".ba-resizable").css("width",widthValue)}).on("mouseup.ba-events touchend.ba-events touchcancel.ba-events",function(){b.removeClass("ba-draggable"),c.removeClass("ba-resizable"),a(this).off(".ba-events")}),e.preventDefault()})}a.fn.beforeAfter=function(){var c=this,d=c.width()+"px";c.find(".resize img").css("width",d),b(c.find(".handle"),c.find(".resize"),c),a(window).resize(function(){var a=c.width()+"px";c.find(".resize img").css("width",a)})}}(jQuery);$('.ba-slider').beforeAfter();
        </script>
      </div>
      <div class="container feature-center">
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">出色强大的识别能力</h2>
            <p class="lead">借助于自研解析引擎的能力，Circle 更加智能更加强大</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://ranhe.xyz/post-images/1613021309389.png" />
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">绚丽多彩的内置主题</h2>
            <p class="lead">Circle 内置了 5 款主题，提供更多、更绚丽的主题，方便用户更好的阅读</p>
          </div>
          <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://ranhe.xyz/post-images/1613021309389.png" />
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">更灵活的自定义主题</h2>
            <p class="lead">莎士比亚说的 “ 一千个观众眼中有一千个哈姆雷特 ” 不同的人有不同的阅读喜好，内置的主题做不到让所有人都喜欢，所以我们支持自定义</p>
          </div>
          <div class="col-md-5">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" src="https://ranhe.xyz/post-images/1613021309389.png" />
          </div>
        </div>
        <hr class="featurette-divider">
        <div class="row">
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
              <h2>Heading</h2>
              <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
              <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
              <h2>Heading</h2>
              <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
              <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
      
              <h2>Heading</h2>
              <p>And lastly this, the third column of representative placeholder content.</p>
              <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
          </div><!-- /.row -->
  
  

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->



    </div>
        <!-- <% if (typeof commentSetting !== 'undefined' && commentSetting.showComment) { %>
            <% if (commentSetting.commentPlatform === 'gitalk') { %>
                <%- include('./includes/gitalk') %>
            <% } %>
            <% if (commentSetting.commentPlatform === 'disqus') { %>
                <%- include('./includes/disqus') %>
            <% } %>
        <% } %>
        <% if(typeof site.customConfig['valine']!=='undefined' && site.customConfig['valine']) { %>
            <%- include('./includes/valine') %>
        <% } %> -->
    <%- include('./includes/footer') %>
  </div>
</div>
</body>
</html>
